.container {
        display: grid;
        grid-template-columns: 50% 50%
 }
hr {
        border-top: 10px dotted red;

 }
h1 {
       font-size: 70px ;
        text-transform: uppercase;
}
p {
        font-size: 30px;
}
p1 {
        font-size: 35px;
}